.App{
    min-height: 100vh;
}
header{
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* box-shadow: var(--box-shadow); */
    box-shadow: rgb(248, 71, 109) 0px 1px 4px;
    padding: 7px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 70px;
    max-width: 90%;
}
header .logo img{
height:40px;
width: 45px;
cursor: pointer;
}
header .logo{
    display: flex;
    align-items: center;
}
header .logo span{
    font-size: 22px;
    margin-left: 8px;
    cursor: pointer;
}
header .themeSelector span{
    display: inline-block;
    cursor: pointer;
    border: 1px solid  #dfdfdf;
    border-radius: 50%;
    width: 20px;
    height: 20px;

}
header .themeSelector .activeTheme{
    height: 25px;
    width: 25px;
}
.addTask{
    max-width: 500px;
    /* box-shadow: var(--box-shadow); */
    border-radius: 4px;
    padding: 20px 50px;
    background-color: white;
    margin: 30px auto;
    box-shadow: rgb(248, 71, 109) 0px 1px 4px;
}
.addTask form{
    display: flex;
    gap: 10px;

}
.addTask form input{
    padding:4px;
    flex-grow: 1;
    font-size: 17px;
    border: 1px solid #dfdfdf ;
    border-radius: 4px;
}
.addTask form input:focus{
    outline: 0.5px solid #dfdfdf  ;
}
.addTask form button{
    background-color: rgb(248, 71, 109);
    color: white;
    border: none;
    border-radius: 18px;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 17px;
}
.addTask form button:hover{
    background-color: rgb(248, 41, 86);
}
.showTask{
   /* box-shadow: var(--box-shadow); */
   box-shadow: rgb(248, 71, 109) 0px 1px 4px;
   border-radius: 4px;
    padding: 10px;
    margin: auto;
    max-width: 90%;
    background-color: white;
}
.showTask div.head{
    display: flex;
    align-items:center;
    padding:8px ;
    
}
.showTask div.head div{
    flex-grow: 1;
}
.showTask .title{
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    margin-right: 10px;
}
.showTask .count{
    background-color: #dfdfdf ;
    border-radius: 50%;
    padding: 5px 10px;
    user-select: none;
}
.showTask .clearAll{
    background-color: #04aa6d;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    
}
.showTask .clearAll:hover{
    background-color:#079963;
}
.showTask ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;

}
.showTask li{
    box-shadow: var(--box-shadow);
    padding: 15px 15px;
    border-radius: 4px;
    border-bottom: 1px solid #faa8ba ;
    display: flex;
    gap: 5px;
    border-left: 5px solid #04aa6d;
    width: 350px;
    
}
.showTask li:hover{
    background-color: rgb(237, 241, 245);
    
}
.showTask li p{
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
}
.showTask li .name{
    font-size: 18px;
    padding-bottom: 5px;
}
.showTask li p .time{
    font-size: 13px;
    color:  #787e83;
}
.showTask li i.bi-pencil-square{
    font-size: 20px;
    cursor: pointer;
    color:#04aa6d;

}
.showTask li i.bi-trash{
    font-size: 20px;
    color: rgb(248, 41, 86);
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .showTask li{
        width:100%;
    }
}